html,
body {
	height: 100%;
}
body {
	background: #353c3f;
	font-family: "gotham_lightregular", sans-serif;
	font-size: 16px;
	color: #353c3f;
	line-height: 24px;
	min-height: 100%;
}
img {
	max-width: 100%;
	height: auto;
}


/*-------------------------
	COMMON
---------------------------*/
.btn {
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn-orange {
	background: #ff8d3f;
	border: 1px solid #ff8d3f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #fff!important;
	font-size: 16px;
	padding: 5px 13px;
}
.btn-orange:hover {
	background: #fff;
	color: #ff8d3f!important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #353c3f;
  opacity: 1;
  filter: alpha(opacity=100);
}
::-moz-placeholder { /* Firefox 19+ */
  color: #353c3f;
  opacity: 1;
  filter: alpha(opacity=100);
}
:-ms-input-placeholder { /* IE 10+ */
  color: #353c3f;
  opacity: 1;
  filter: alpha(opacity=100);
}
:-moz-placeholder { /* Firefox 18- */
  color: #353c3f;
  opacity: 1;
  filter: alpha(opacity=100);
}
.ttl-title {
	font-size: 24px;
	color: #353c3f;
	font-family: gotham_mediumregular;
	margin: 0;
}
.view-more {
	text-align: right;
	padding: 25px 0 0 0;
	margin: 0;
}
.view-more a {
	background: url('../images/icon/ico_plus.png') no-repeat 0 4px;
	display: inline-block;
	color: #ff8d3f;
	text-decoration: none;
	-webkit-background-size: 17px;
	background-size: 17px;
	padding: 0 0 0 22px;
}
.view-more a:hover {
	text-decoration: underline;
}
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal .modal-title {
	font-size: 20px;
	font-family: 'gotham_mediumregular';
}
.modal .modal-title span {
	font-family: 'gotham_lightregular';
	display: block;
	font-size: 16px;
}
.modal table {
	width: 100%;
}
.modal table th {
	vertical-align: middle!important;
}
.modal table td {
	vertical-align: middle!important;
}
.modal table td img {
	display: inline-block;
	vertical-align: middle;
	max-width: 50px;
	height: auto;
}
.modal table td span {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
}
.modal table td a {
	text-decoration: none;
	color: #353c3f;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
}
.modal table td a:hover {
	color: #ff8d3f;
}
.alert {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 390px;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.alert.in {
	display: block!important;
}

/*-------------------------
	Wrap
---------------------------*/
#Wrap {
	height: 100%;
	min-height: 100%;
}

/*-------------------------
	Side
---------------------------*/
#Side {
	position: absolute;
	left: 0;
	top: 0;
	width: 115px;
	background: #353c3f;
	height: 100vh;
}
#Side #Logo {
	max-width: 183px;
	text-align: center;
	margin: 0;
	padding: 15px 0 20px;
}
#Side #Logo a {
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
}
#Side #Logo a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#Side #Logo img {
	max-width: 100%;
	height: auto;
}
#Side .side-nav .nav-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
#Side .side-nav .nav-list {
	border-bottom: 1px solid #23292b;
}
#Side .side-nav .nav-list li {
	border-top: 1px solid #23292b;
}
#Side .side-nav .nav-list li a {	
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	opacity: .6;
	filter: alpha(opacity=60);
	padding: 15px 0 15px;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	position: relative;
}
#Side .side-nav .nav-list li a span {
	display: block;
}
#Side .side-nav .nav-list li a:before {
	content: "";
	border-left: 4px solid #353c3f;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}
#Side .side-nav .nav-list li a:hover,
#Side .side-nav .nav-list li.active a {
	opacity: 1;
	filter: alpha(opacity=100);
}
#Side .side-nav .nav-list li a:hover:before,
#Side .side-nav .nav-list li.active a:before {
	border-left: 4px solid #ff8d3f;
}

/*-------------------------
	Main
---------------------------*/
#Main {
	background: #f4f8f9;
	margin: 0 0 0 115px;
	min-height: 100%;
}

/*-------------------------
	HEADER
---------------------------*/
#Header {
	background: #fff;
	padding: 10px 30px;
	position: relative;
}
#Header p {
	margin: 0;
}
#Header .head-search {
	display: inline-block;
	vertical-align: middle;
}
#Header .search-bar {
	width: 532px;
	position: relative;
}
#Header .search-bar input {
	width: 100%;
	height: 38px;
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	-ms-border-radius: 19px;
	-o-border-radius: 19px;
	border-radius: 19px;
	background: #fff;
	border: solid 1px rgba(183,196,199,.23);
	padding-left: 40px;
	padding-right: 16px;
	font-size: 16px;
	color: #353c3f;
}
#Header .search-bar i {
	font-size: 20px;
	color: #353c3f;
	position: absolute;
	left: 12px;
	top: 8px;
}
#Header .head-block {
	float: right;
	position: relative;
	top: -4px;
}
#Header .head-block .head-warning {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
#Header .head-block .head-warning a {
	font-size: 20px;
	color: #353c3f;
	outline: none;
}
#Header .head-block .head-warning a .num {
	display: inline-block;
	height: 14px;
	background: #f00;
	color: #fff;
	font-size: 11px;
	line-height: 12px;
	padding: 1px 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	top: -7px;
	left: -9px;
}
#Header .head-block .head-warning a i {
	transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
}
#Header .head-block .head-warning a:hover i {
	color: #ff8d3f;
}
#Header .user-nav {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
#Header .user-nav .head-avatar {
	cursor: pointer;
}
#Header .user-nav .head-avatar .circle-img {
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 45px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
}
#Header .user-nav .head-avatar .circle-img img {
	max-width: 100%;
	height: auto;
}
#Header .user-nav .head-avatar .username {
	display: inline-block;
	vertical-align: middle;
	color: #353c3f;
	padding: 0 2px 0 3px;
}
#Header .user-nav .head-avatar .ico-down {
	display: inline-block;
	vertical-align: middle;
}
#Header .user-nav .dropdown-menu {
  left: inherit;
  right: 0;
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 5px 0 0 0;
  z-index: 9999;
  position: absolute;
}
#Header .user-nav .dropdown-menu:before {
  width: 17px;
  content: " ";
  background-image: url('../images/icon/ico_arrow_top.png');
  position: absolute;
  right: 0;
  top: -11px;
  height: 11px;
}
#Header .user-nav .dropdown-menu li+li {
  border-top: 1px solid #d5e1ea;
}
#Header .user-nav .dropdown-menu a {
  color: #353c3f;
  font-size: 16px;
  padding: 7px 15px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
}
#Header .user-nav .dropdown-menu>li>a:hover,
#Header.user-nav .dropdown-menu>li>a:focus {
  background: #ff8d3f !important;
  color: #fff;
  background: #fff;
}
#Header .user-nav .dropdown-menu a i {
  display: inline-block;
  vertical-align: middle;
  color: #353c3f;
}
#Header .user-nav .dropdown-menu a span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 9px;
}
#Header .user-nav .dropdown-menu a:hover i {
  color: #fff;
}

/*-------------------------
	VISUAL
---------------------------*/
#Visual {
	background: url('../images/common/bg_visual.png') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 290px;
	padding: 30px 15px;
}
#Visual .info .img-avatar {
	float: left;
	width: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
}
#Visual .info .img-avatar img {
	max-width: 100%;
	height: auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
#Visual .info .info-right {
	padding: 0 0 0 215px;
}
#Visual .info .info-right .txt-info {
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	margin: 0;
}
#Visual .info .info-right .txt-info + .txt-info {
	padding: 20px 0 0 0;
	margin: 0;
}
#Visual .info .info-right .txt-info span {
	display: block;
	font-size: 18px;
	text-transform: none;
	padding: 0 0 5px 0;
}
#Visual .info .info-right .txt-info a {
	text-decoration: none;
}
#Visual .info .info-right .txt-info a:hover {
	color: #ff8d3f;
}
#Visual .follow .txt-info {
	color: #fff;
	font-size: 20px;
	margin: 0;
}
#Visual .follow .txt-info + .txt-info {
	padding: 20px 0 0 0;
	margin: 0;
}
#Visual .follow .txt-info span {
	color: #b6b6b6;
	display: block;
	font-size: 18px;
	padding: 0 0 5px 0;
}
#Visual .victory {
	max-width: 325px;
	margin-left: auto;
}
#Visual .victory .head-info {
	cursor: pointer;
	background: #ff8d3f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
	overflow: hidden;
	padding: 5px 15px 7px;
}
#Visual .victory .head-info:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#Visual .victory .head-info .point {
	float: left;
	margin: 4px 0 0 0;
}
#Visual .victory .head-info .point span {
	background: url('../images/icon/ico_dolar.png') no-repeat 0 0;
	-webkit-background-size: 23px;
	background-size: 23px;
	padding: 0 0 0 33px;
	display: block;
}
#Visual .victory .head-info .chanel {
	background: url('../images/icon/ico_radio.png') no-repeat 0 0;
	-webkit-background-size: 24px;
	background-size: 24px;
	padding: 4px 0 0 30px;
	float: right;
	margin: 0;
}
#Visual .victory .ttl-victory {
	color: #b6b6b6;
	font-size: 20px;
	margin: 20px 0 0 0;
}
#Visual .victory .victory-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
#Visual .victory .victory-list li {
	margin: 20px 0 0 0;
	font-size: 20px;
	color: #fff;
}
#Visual .victory .victory-list li a {
	display: block;
	background: url('../images/icon/ico_cup.png') no-repeat 0 0;
	color: #fff;
	text-decoration: none;
	-webkit-background-size: 25px;
	background-size: 25px;
	padding: 2px 0 3px 35px;
}
#Visual .victory .victory-list li a:hover {
	color: #ff8d3f;
}
#Visual .block-form p {
	margin: 0;
}
#Visual .block-form .area-form {
	margin: 15px 0 0 0;
}
#Visual .block-form textarea {
	height: 134px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(255,255,255,.25);
	border: solid 1px #7b868b;
	width: 100%;
	padding: 10px;
	color: #fff;
}
#Visual .block-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 14px;
}
#Visual .block-form ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 14px;
}
#Visual .block-form :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 14px;
}
#Visual .block-form :-moz-placeholder { /* Firefox 18- */
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 14px;
}
#Visual .block-form .btn-add {
	text-align: right;
	padding: 10px 0 0 0;
}
#Visual .block-form .btn-add .btn-orange {
	display: inline-block;
	width: 92px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(255,141,63,0);
	border: solid 1px #ff8d3f;
	color: #ff8d3f!important;
}
#Visual .block-form .btn-add .btn-orange:hover {
	background: #ff8d3f;
	color: #fff!important;
}

/*-------------------------
	CONTENT
---------------------------*/
#Content {
	padding: 40px 0 40px 15px;
}
#Content .block-section {
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e6eced;
}
#Content .block-section .ttl-block {
	border-bottom: 1px solid #e6eced;
	padding: 0 0 13px 0;
}
#Content .block-section .ttl-block .ttl-title {
	padding-top: 13px;
}
#Content .block-section .ttl-block .ttl-title span {
	display: block;
	font-size: 16px;
	font-family: 'gotham_lightregular';
	padding: 10px 0 0 0;
}
#Content .block-section .congrat {
	text-align: center;
	padding: 20px 17px;
}
#Content .block-section .congrat p {
	margin: 0;
}
#Content .block-section .congrat .ttl-congrat {
	color: #ff8d3f;
	font-size: 24px;
	font-family: 'gotham_mediumregular';
}
#Content .block-section .congrat .txt-congrat {
	color: #808b90;
	padding: 10px 0 0 0;
}
#Content .block-section .congrat .ico-congrat {
	width: 85px;
	margin: 10px auto 0;
}
#Content .block-section .congrat .ico-congrat img {
	max-width: 100%;
	height: auto;
}
#Content .block-section .congrat .view-more {
	text-align: center;
	padding-top: 22px;
}
#Content .block-section + .block-section {
	margin: 20px 0 0 0;
}
#Content .block-section .ttl-title {
	padding: 20px 17px 0 17px;
}
#Content .block-section .block-list {
	padding: 17px;
}
#Content .block-section .block-list .block-item + .block-item {
	padding: 10px 0 0 0;
}
#Content .block-section .block-list .block-item a {
	display: block;
	background: #f4f8f9;
	border: 1px solid #eef1f2;
	padding: 9px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	color: #353c3f;
	text-decoration: none;
	outline: none;
	min-height: 108px;
}
#Content .block-section .block-list .block-item a:hover {
	border: 1px solid #ff8d3f;
	background: #ff8d3f;
	color: #fff;
}
#Content .block-section .block-list .block-item a span {
	display: block;
}
#Content .block-section .block-list .img-item {
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	width: 90px;
}
#Content .block-section .block-list .img-item img {
	max-width: 100%;
	height: auto;
	border: 1px solid #e6eced;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#Content .block-section .block-list .item-right {
	padding: 0 0 0 107px;
}
#Content .block-section .block-list .m-title {
	margin: 0 0 4px 0;
	font-size: 18px;
	font-family: 'gotham_mediumregular';
}
#Content .block-section .block-list .name-streamer {
	margin: 0 0 4px 0;
	font-size: 16px;
	font-family: 'gotham_mediumregular';
}
#Content .block-section .block-list .name-game {
	text-transform: uppercase;
}
#Content .block-section .block-list p {
	margin: 0;
}
#Content .block-section .block-list .txt-bold {
	font-family: 'gotham_mediumregular';
}
#Content .block-section .view-more {
	text-align: left;
	padding: 15px 0 0 0;
}
#Content .block-section .block-scroll {
	padding: 0 7px 0 0;
}
#Content .block-section .online-list {
	list-style: none;
	margin: 0;
	padding: 10px 0;
	max-height: 430px;
}
#Content .block-section .online-list li + li {
	border-top: 1px solid #e6eced;
}
#Content .block-section .online-list li a {
	display: block;
	outline: none;
	overflow: hidden;
	text-decoration: none;
	color: #616161;
	padding: 9px 20px;
}
#Content .block-section .online-list li a:hover {
	color: #ff8d3f;
}
#Content .block-section .online-list li .avatar-left {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	position: relative;
}
#Content .block-section .online-list li .avatar-left img {
	max-width: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
#Content .block-section .online-list li .name {
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 12px;
}
#Content .block-section .online-list li .status {
	display: block;
	width: 16px;
	height: 16px;
	background: #2ed900;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid #fff;
	position: absolute;
	right: -1px;
	bottom: -1px;
}
#Content .social-conect-list {
	background: #fff;
	border: 1px solid #e6eced;
	border-right: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	list-style: none;
	margin: 0 -1px 0 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}
#Content .social-conect-list li {
	border-bottom: 1px solid #e6eced;
	border-right: 1px solid #e6eced;
	float: left;
	width: 16.66666%;
	margin: 0 0 -1px 0;
}
#Content .social-conect-list li a {
	color: #4b5053;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 22px 0 20px;
	position: relative;
	outline: none;
}
#Content .social-conect-list li a span {
	display: block;
	padding: 5px 0 0 0;
}
#Content .social-conect-list li a img {
	max-width: 50px;
	height: auto;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
}
#Content .social-conect-list li a .lbl-point {
	position: absolute;
	right: 0;
	top: 0;
	background: #ff8d3f;
	color: #fff;
	font-size: 14px;
	padding: 0 5px;
	display: inline-block;
	line-height: 20px;
}
#Content .social-conect-list li.connected a .lbl-point {
	display: none;
}
#Content .social-conect-list li a:hover,
#Content .social-conect-list li.connected a {
	color: #3c64ab;
}
#Content .social-conect-list li.connected a img,
#Content .social-conect-list li a:hover img {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/*-------------------------
	FOOTER
---------------------------*/
#Footer {
	background: #242b2e;
	font-size: 16px;
	color: #d5d6d2;
	padding: 23px 0 20px;
}
#Footer p {
	margin: 0;
}
#Footer .social-list {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
#Footer .social-list li {
	display: inline-block;
	vertical-align: middle;
}
#Footer .social-list li img {
	max-height: 27px;
	width: auto;
}
#Footer .social-list li + li {
	padding: 0 0 0 25px;
}
#Footer .social-list li a {
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	display: block;
}
#Footer .social-list li a:hover {
	margin-top: -10px;
}
#Pagetop {
	position: fixed;
	right: 15px;
	bottom: 100px;
	display: none;
}
#Pagetop a {
	background: #ff8d3f;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
}
#Pagetop a i {
	color: #fff;
	font-size: 18px;
	line-height: 35px;
	vertical-align: top;
}
#Pagetop a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

/*-------------------------
	RESPONSIVE
---------------------------*/
@media screen and (max-width: 1500px){
	#Visual .victory .head-info {
		padding: 5px 5px 7px;
	}
	#Content .block-section .ttl-title {
		font-size: 18px;
		padding-top: 15px;
	}
}

@media screen and (max-width: 767px){
	
}