
/*-------------------------
	Item-list
---------------------------*/
#Content .section {
	padding: 10px 0 0 0;
}
#Content .section + .section {
	padding: 40px 0 0 0;
}
#Content .head-section {
	padding: 0 0 35px 0;
}
#Content .head-section .box-item {
	background: #fff;
	border: 2px solid #e6eced;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
}
#Content .head-section .box-item p {
	margin: 0;
}
#Content .head-section .box-item .img-box {
	float: left;
	max-width: 100px;
}
#Content .head-section .box-item .img-box img {
	max-width: 100%;
	height: auto;
}
#Content .head-section .box-item .box-right {
	padding: 0 0 0 120px;
	text-align: center;
}
#Content .head-section .box-item .box-right .ttl-box {
	text-transform: uppercase;
	font-family: 'gotham_mediumregular';
}
#Content .head-section .box-item .box-right .box-num {
	font-size: 50px;
	color: #ff8d3f;
	font-family: 'gotham_mediumregular';
	padding: 17px 0 0 0;
}
#Content .head-section .box-item .box-right .box-count {
	color: #353c3f;
	font-size: 14px;
	padding: 25px 0 0 0;
}
#Content .head-section .box-item .box-right .box-count span {
	font-size: 16px;
	color: #fff;
	background: #353c3f;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	padding: 0 4px;
	line-height: 19px;
	margin-right: 4px;
}
#Content .section .section-inner {
	padding: 35px 0 0 0;
}
#Content .item-list .item {
	border: 1px solid #e6eced;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 9px 15px 9px 9px;
}
#Content .item-list .item + .item {
	margin: 15px 0 0 0;
}
#Content .item-list .item p {
	margin: 0;
}
#Content .item-list .item .img-item {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	float: left;
	width: 145px;
	margin: 0;
}
#Content .item-list .item .img-item img {
	border: 1px solid #eef1f2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	max-width: 100%;
	height: auto;
}
#Content .item-list .item .item-right {
	padding: 13px 0 0 165px;
}
#Content .item-list .item .item-head {
	overflow: hidden;
}
#Content .item-list .item .ttl-item {
	float: left;
	font-family: 'gotham_mediumregular';
	margin: 0;
	font-size: 18px;
}
#Content .item-list .item .item-hr {
	float: right;
	margin: 0;
	font-size: 18px;
	font-family: 'gotham_mediumregular';
}
#Content .item-list .item .item-hr i {
	display: inline-block;
	vertical-align: middle;
}
#Content .item-list .item .item-hr span {
	display: inline-block;
	vertical-align: middle;
}
#Content .item-list .item .txt-des {
	padding: 3px 0 0 0;
}
#Content .item-list .item .point {
	background: url('../images/icon/ico_dolar.png') no-repeat 0 0;
	color: #ff8d3f;
	-webkit-background-size: 23px;
	background-size: 23px;
	padding: 0 0 0 33px;
	margin: 10px 0 0 0;
}
#Content .item-list .item .share {
	color: #2a3231;
	overflow: hidden;
	padding: 5px 0 0 0;
}
#Content .item-list .item .share .lbl-left {
	display: inline-block;
	vertical-align: middle;
}
#Content .item-list .item .share .social-list {
	list-style: none;
	margin: 0;
	padding: 0 0 0 5px;
	display: inline-block;
	vertical-align: middle;
}
#Content .item-list .item .share .social-list li {
	display: inline-block;
	vertical-align: middle;
}
#Content .item-list .item .share .social-list li + li {
	padding: 0 0 0 20px;
}
#Content .item-list .item .share .social-list li a {
	color: #2a3231;
	transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
}
#Content .item-list .item .share .social-list li a:hover {
	color: #ff8d3f;
}
#Content .item-list .item .range-bot {
	overflow: hidden;
}
#Content .item-list .item .range-bot .range-left {
	float: left;
	max-width: 70%
}
#Content .item-list .item .range-bot .btn-signup {
	float: right;
	margin: 20px 0 0 0;
}

/*-------------------------
	Competitions
---------------------------*/
#Content .competitions {
	margin: 0 0 -30px 0;
}
#Content .competitions .col-md-6 {
	margin: 0 0 30px 0;
}
#Content .competitions .block-competition {
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e6eced;
	overflow: hidden;
}
#Content .competitions .block-competition a {
	display: block;
	color: #353c3f;
	text-decoration: none;
}
#Content .block-competition .img-competition {
	position: relative;
}
#Content .block-competition .img-competition p {
	margin: 0;
	overflow: hidden;
}
#Content .block-competition .img-competition img {
	width: 100%;
	height: auto;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
}
#Content .block-competition a:hover .img-competition img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
#Content .block-competition .img-competition .competition-name {
	position: absolute;
	left: 0;
	bottom: 6px;
	width: 100%;
	font-size: 18px;
	color: #fff;
	text-align: center;
	font-family: 'gotham_boldregular';
}
#Content .block-competition .img-competition .competition-name span {
	display: block;
}
#Content .block-competition .txt-info {
	padding: 20px;
}
#Content .block-competition .txt-info p {
	margin: 0;
}
#Content .block-competition .txt-info .txt-title {
	font-size: 18px;
	font-family: 'gotham_mediumregular';
}
#Content .block-competition .user-bar {
	padding: 5px 20px 20px;
}
#Content .block-competition .user-bar p {
	margin: 0;
}
#Content .block-competition .user-bar .txt-user-bar {
	color: #808b90;
	text-transform: uppercase;
}
#Content .block-competition .user-bar .range-bar {
	background: #dce6e8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	height: 10px;
	overflow: hidden;
	margin: 3px 0 0 0;
}
#Content .block-competition .user-bar .range-bar span {
	display: block;
	height: 10px;
	text-indent: -9999px;
	background: #ff8d3f;
}

/*-------------------------
	RESPONSIVE
---------------------------*/
@media screen and (max-width: 1199px){
	
}
@media screen and (max-width: 991px){
	
}
@media screen and (max-width: 767px){	
	
}
/*-----------------------
	Connections
-----------------------*/
.conecttions .block-competition {
  padding: 15px!important;
}
.conecttions .row-item {
  margin: 0 0 30px 0;
}
.conecttions .block-competition p {
  margin: 0;
}
.conecttions .block-competition .conect {
  position: relative;
}
.conecttions .block-competition .conect p {
  margin: 0!important;
  display: inline-block;
  vertical-align: middle;
}
.conecttions .block-competition .conect .conimg {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.conecttions .block-competition .conected {
  display: none;
}
.conecttions .conect-success .conected {
  display: block!important;
}
.conecttions .conect-success .conect {
  display: none;
}
.conp {
  font-weight: bold;
  padding: 0 20px;
}
.conimg-left {
  max-width: 50px;
}
.conimg {
  font-size: 35px;
  color: #5cb85c;
  max-width: 30px;  
}
.conect-chanel .conimg {
  cursor: pointer;
}
.dialog_title {
  font-size: 14px;
  color: #CED3DC;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  margin: 5px 10px
}
.dialog_title span {
  display:inline-block;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 18px;
  color: black;
}
.dialog_title em {
  display: inline-block!important;
  vertical-align: middle;
  font-style: normal;
  padding: 0 5px 0 0;
  line-height: 25px;
}
.dialog_title a {
  display: inline-block!important;
  vertical-align: middle;
  color: #55ACEE!important;
}
.dialog_title a:hover {
  color: #FF8D32!important;
}
.dialog_sm {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 15px;
  line-height: 20px;
}
.dialog_sm span {
  font-size: 11px;
  color: #ccc;
  font-style: italic;
}
.dialog_lg {
  margin: 0;
  padding: 15px 0;
}
.dialog_lg input {
  border: 1px solid #e6eced;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
}
.dialog_text span {
  font-size: 12px;
  line-height: 18px
}
.dialog_btn {
  padding: 15px 0 0 0;
}


/*--------------------
	Wrap CTA
-------------------------*/
.head-block {
	margin-right: 40px;
}

.ribbon-wrapper-green {
  cursor: pointer;
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}
.ribbon-green a {
  color: #333;
  text-decoration: none;
  outline: none;
}
.ribbon-green {
  z-index: 2;
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 12px 0 9px 5px;
  left: 0px;
  top: 0px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  /*border-right: 3px solid transparent;*/
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}​	
