@font-face {
    font-family: 'gotham_boldregular';
    src: url('gotham-bold1-webfont.eot');
    src: url('gotham-bold1-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-bold1-webfont.woff2') format('woff2'),
         url('gotham-bold1-webfont.woff') format('woff'),
         url('gotham-bold1-webfont.ttf') format('truetype'),
         url('gotham-bold1-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('gotham-light1-webfont.eot');
    src: url('gotham-light1-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-light1-webfont.woff2') format('woff2'),
         url('gotham-light1-webfont.woff') format('woff'),
         url('gotham-light1-webfont.ttf') format('truetype'),
         url('gotham-light1-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}